body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.1em !important;
}

main {
    min-height:900px;
}

a, a:visited {
    color:black;
}

.btn-link {
    color:black !important;
    text-decoration: none !important;
}